.container{
  width: 100%;
}
.div_element {
  height: 100%;
  width: 100%;
}
#div_1 {
  width: 38%;
  background: #adadad;
}
#div_2 {
  width: 62%;
  background: #F00;
}
@media(max-width: 568px) {
  #div_1 {
    width: 38%;
  }
  #div_2 {
    width: 100%;
  }
  .div_element {
    float: left;
  }
}
